<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<h3>Airports</h3>
    <ul>
        <% @location.air.each do |duo|%>
          <li><%= link_to duo.address, @location %></li>
        <% end %>
    </ul>
<h3>Hospital</h3>
    <ul>
      <% @location.hosp.each do |duo|%>
          <li><%= link_to duo, @location %></li>
      <% end %>
    </ul>
<h3>Bus Stops</h3>
    <ul>
        <% @location.bus.each do |duo|%>

              <li><%= link_to duo, @location %></li>

        <% end %>
    </ul>
<h3>Restaurants</h3>
    <ul>
        <% @location.restaurant.each do |duo|%>
          <li><%= link_to duo, @location %></li>
        <% end %>
    </ul>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>


